@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    background: var(--bg-main);
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button,
input,
select,
textarea,
.custom-file-label {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus ~ .custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important
}

.right-0 {
    right: 0 !important
}

.left-0 {
    left: 0 !important;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 > [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.bg-gradient {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)) !important;
}

.icon-circle {
    border-radius: 50%;
}

.color-red {
    color: #e31f25 !important;
}

.background-red {
    background: #e31f25 !important;
    color: #fff !important;
}

.color-green {
    color: #42c677
}

.background-green {
    background: #42c677 !important;
    color: #fff !important;
}

.loading-pure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
}

.loading-pure div {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-main);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-pure div:nth-child(1) {
    left: 50%;
    animation: loading-pure1 0.6s infinite;
}

.loading-pure div:nth-child(2) {
    left: 50%;
    animation: loading-pure2 0.6s infinite;
}

.loading-pure div:nth-child(3) {
    left: calc(50% + 24px);
    animation: loading-pure2 0.6s infinite;
}

.loading-pure div:nth-child(4) {
    left: calc(50% + 48px);
    animation: loading-pure3 0.6s infinite;
}

@keyframes loading-pure1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes loading-pure3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes loading-pure2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.mt-20px {
    margin-top: 20px;
}

.link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    content: "";
}

.template-4_btn {
    padding: 8px 40px;
    border-radius: 50px;
    display: inline-block;
    min-width: 140px;
    font-size: 1em;
    font-weight: 700;
}

.template-4_header {
    background-color: var(--color-main);
}

.template-4_header .logo-area > a > img {
    max-height: 50px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.template-4_header .navigation-area > ul {
    display: flex;
    justify-content: center;
}

.template-4_header .navigation-area > ul > li {
    position: relative;
}

.template-4_header .navigation-area > ul > li:before {
    position: absolute;
    display: block;
    content: "";
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    width: 50%;
    transition: .4s all ease;
    opacity: 0;
    visibility: hidden;
}

.template-4_header .navigation-area > ul > li > a {
    text-transform: capitalize;
    font-size: 1.05em;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 25px 10px;
}

.template-4_header .navigation-area > ul > li > a > i {
    margin-left: 4px;
    transition: .4s all ease;
}

.template-4_header .navigation-area > ul > li:hover:before {
    opacity: 1;
    visibility: visible;
}

.template-4_header .navigation-area > ul > li > ul {
    position: absolute;
    left: 0;
    top: calc(100% + 35px);
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    transition: .3s opacity ease-in-out, .3s top ease-in-out;
    -webkit-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 .45rem 1rem rgba(0, 0, 0, .275) !important;
    z-index: 10;
    border: 1px solid var(--color-border);
    border-radius: .2rem;
}

.template-4_header .navigation-area > ul > li > ul:before,
.template-4_header .navigation-area > ul > li > ul:after {
    content: "";
    display: block;
    position: absolute;
    font-size: 1.4em;
    width: 0;
    height: 0;
    pointer-events: none;
    top: -10px;
    left: 10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.template-4_header .navigation-area > ul > li > ul:before {
    border-bottom: 10px solid #a9a9a9;
}

.template-4_header .navigation-area > ul > li > ul::after {
    border-bottom: 10px solid #fff;
}

.template-4_header .navigation-area > ul > li > ul > li > a {
    text-transform: capitalize;
    font-size: 1.05em;
    color: var(--text-gray);
    display: inline-block;
    padding: 8px 15px;
    transition: .4s all ease;
    position: relative;
}

.template-4_header .navigation-area > ul > li > ul > li > a:before {
    position: absolute;
    display: block;
    top: 8px;
    left: 5px;
    font-size: 1em;
    width: 0;
    overflow: hidden;
    color: var(--color-main);
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    transition: .4s all ease;
    content: "\f178";
}

.template-4_header .navigation-area > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.template-4_header .navigation-area > ul > li > ul > li:hover > a {
    color: var(--color-main);
    padding-left: 25px;
}

.template-4_header .navigation-area > ul > li > ul > li:hover > a:before {
    width: 14px;
}

.template-4_header .action-area > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.template-4_header .action-area > ul > li {
    position: relative;
}

.template-4_header .action-area > ul > li.language {
    padding: 23px 0;
}

.template-4_header .action-area > ul > li.language > a {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.template-4_header .action-area > ul > li.language > a > img {
    width: 100%;
    border-radius: 50%;
}

.template-4_header .action-area > ul > li.language > ul {
    position: absolute;
    left: 0;
    top: calc(100% + 35px);
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    transition: .3s opacity ease-in-out, .3s top ease-in-out;
    -webkit-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    z-index: 10;
}

.template-4_header .action-area > ul > li.language > ul > li > a > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 15px;
    transition: .3s all ease;
    color: var(--text-gray);
}

.template-4_header .action-area > ul > li.language > ul > li > a > span > img {
    width: 20px;
    margin-right: 4px;
}

.template-4_header .action-area > ul > li.language > ul > li:hover > a > span {
    color: var(--color-main);
}

.template-4_header .action-area > ul > li.language:hover > ul {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
}

.template-4_header .action-area > ul > li.login {
    margin-left: 15px;
}

.template-4_header .action-area > ul > li.login > a {
    background-color: var(--opacity-color-main);
    color: #fff;
    font-size: 1.05em;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: .45rem;
    display: inline-block;
}

.template-4_header .action-area > ul > li.login > a:hover {
    background-color: var(--color-hover);
}

.template-4_main {
    padding: 30px 0;
}

.template-4_aboutus .card .card-body {
    padding: .75rem;
}

.template-4_aboutus .card .card-body .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
}

.template-4_aboutus .card .card-body .card-text {
    margin-bottom: 4px;
    color: var(--text-gray);
    font-size: 1.05em;
}

.template-4_aboutus .card .card-body .card-text:last-of-type {
    margin-bottom: 0;
}

.template-4_aboutus .card .card-img {
    max-width: 200px;
}

.template-4_exchange .card .card-header,
.template-4_exchange .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: .75rem;
}

.template-4_exchange .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0 !important;
}

.template-4_exchange .card .card-header p {
    width: 100%;
    color: var(--text-gray-50) !important;
}

.template-4_exchange .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_exchange .card .card-header .nav-tabs {
    border: 0;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link {
    padding: 7px 30px;
    border-radius: .35rem;
    color: var(--bg-white);
    font-weight: 500;
    border: 1px solid transparent;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, .125);
    position: relative;
    transition: .3s all ease-in-out;
    background-color: #fff;
    font-size: 1.1em;
    letter-spacing: .5px;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item:not(:last-of-type) {
    margin-right: 15px;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link.tab-buy {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link.tab-sell {
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link.active {
    box-shadow: none;
    transform: translateY(-2px);
    opacity: .8;
}

.template-4_exchange .card .card-body .form-group {
    margin-bottom: 30px;
}

.template-4_exchange .card .card-body .form-group > label {
    font-size: 1.10em;
    font-weight: 500;
    color: var(--text-gray);
    margin-bottom: 15px;
    background: transparent;
    border-color: rgba(55, 55, 89, 0.1);
}

.template-4_exchange .card .card-body .form-group .input-group .input-group-prepend .input-group-text {
    background-color: #fff;
    margin-bottom: 0 !important;
    font-size: 1em;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_exchange .card .card-body .form-group .input-group .input-group-append .input-group-text {
    background-color: #fff;
    margin-bottom: 0 !important;
    font-size: 1em;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-4_exchange .card .card-body .form-group .input-group .input-group-append .input-group-text,
.template-4_exchange .card .card-body .form-group .input-group .input-group-prepend .input-group-text i {
    font-size: 1.4em;
}

.template-4_exchange .card .card-body .form-group .input-group .form-control {
    border-radius: 5px;
    height: 48px;
    border: 1px solid rgba(55, 55, 89, 0.1);
    padding: 0 15px;
    font-weight: 500;
    font-size: 1.05em;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    background: var(--bg-main);
}

.template-4_exchange .card .card-body .form-group .input-group .form-control::placeholder {
    color: var(--text-dark);
}

.template-4_exchange .card .card-body .form-group .input-group .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.template-4_exchange .card .card-body .form-group .input-group .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.template-4_sidebar .sidebar-item + .sidebar-item {
    margin-top: 20px;
}

.template-4_sidebar .sidebar-item .card .card-header,
.template-4_sidebar .sidebar-item .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

.template-4_sidebar .sidebar-item .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.20em;
    color: var(--text-dark);
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs {
    border: 0;
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs .nav-item .nav-link {
    padding: 2px 12px;
    border-radius: .35rem;
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .225);
    position: relative;
    transition: .3s all ease-in-out;
    background-color: #fff;
    font-size: 0.85em;
    letter-spacing: .5px;
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs .nav-item:not(:last-of-type) {
    margin-right: 8px;
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs .nav-item .nav-link.tab-buy {
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs .nav-item .nav-link.tab-sell {
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.template-4_sidebar .sidebar-item .card .card-header .nav-tabs .nav-item .nav-link.active {
    box-shadow: none;
    transform: translateY(-2px);
    opacity: .8;
}

.template-4_sidebar .sidebar-item .card .card-body {
    overflow-y: auto;
    padding-top: 0;
}

.template-4_sidebar .sidebar-item .card .card-body::-webkit-scrollbar-track {
    background: #d9d9d9;
}

.template-4_sidebar .sidebar-item .card .card-body::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

.template-4_sidebar .sidebar-item .card .card-body::-webkit-scrollbar-thumb {
    background: #676776;
    border-radius: 25px;
}

.template-4_sidebar .sidebar-item .card .card-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.template-4_sidebar .sidebar-item .card .card-body ul li a {
    background: var(--bg-main);
    border-radius: 5px;
    padding: 10px;
    transition: .4s all ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
}

.template-4_sidebar .sidebar-item .card .card-body ul li a .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1em;
}

.template-4_sidebar .sidebar-item .card .card-body ul li a .text img {
    width: 20px;
    flex-shrink: 0;
    margin-right: 8px;
}

.template-4_sidebar .sidebar-item .card .card-body ul li a .price {
    font-weight: 900;
    font-size: 1em;
}

.template-4_sidebar .sidebar-item .card .card-body ul li:hover a {
    background-color: var(--opacity-color-main);
}

.template-4_sidebar .sidebar-item .card .card-body ul li + li {
    margin-top: 10px;
}

.template-4_table .card .card-header,
.template-4_table .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.template-4_table .card .card-header {
    padding-bottom: 0 !important;
}

.template-4_table .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar {
    height: 6px;
    cursor: pointer;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-track {
    background: #fff;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-thumb {
    background: #acacac;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.template-4_table .card .card-body table {
    border-spacing: 0 .5rem;
    border-collapse: separate;
    white-space: nowrap;
    font-size: 1em;
    margin-bottom: 0;
}

.template-4_table .card .card-body table thead tr {
    overflow: hidden;
    background-color: var(--bg-main);
}

.template-4_table .card .card-body table thead tr th {
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1.05em;
    border: 0;
}

.template-4_table .card .card-body table thead tr th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_table .card .card-body table thead tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-4_table .card .card-body table tbody tr {
    overflow: hidden;
    background-color: var(--bg-main);
}

.template-4_table .card .card-body table tbody tr td {
    border: 0;
}

.template-4_table .card .card-body table tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_table .card .card-body table tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-4_table .card .card-body table .badge {
    padding: .4rem .6rem .2rem;
    line-height: 1;
    font-size: 85%;
}

.template-4_table .card .card-body table tbody tr td {
    font-weight: 700;
    color: var(--text-dark);
    vertical-align: middle;
}

.template-4_table .card .card-body table tbody tr td .btn {
    margin: 0 4px;
}

.template-4_table .card .card-body table tbody tr td .btn-sm {
    padding: 0 12px;
    font-size: .95em;
}

.template-4_table .card .card-body table tbody tr td .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 26px;
    width: 26px;
}

.template-4_table .card .card-body table tbody tr td .name {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1.05em;
}

.template-4_table .card .card-body table tbody tr td .name > img {
    width: 23px;
    flex-shrink: 0;
    margin-right: 8px;
}

.template-4_notification {
    position: sticky;
    top: 5px;
}

.template-4_notification .card .card-header,
.template-4_notification .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.template-4_notification .card .card-header {
    padding-bottom: 0;
}

.template-4_notification .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_notification .card .card-body ul li {
    border-radius: 5px;
    background-color: var(--bg-main);
    padding: 5px;
    position: relative;
}

.template-4_notification .card .card-body ul li + li {
    margin-top: 10px;
}

.template-4_notification .card .card-body ul li .title {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.template-4_notification .card .card-body ul li .desc {
    font-size: .9em;
    color: var(--text-gray);
}

.template-4_notification .card .card-body ul li.notification-success i,
.template-4_notification .card .card-body ul li.notification-success .title {
    color: var(--success);
}

.template-4_notification .card .card-body ul li.notification-danger i,
.template-4_notification .card .card-body ul li.notification-danger .title {
    color: var(--danger);
}

.template-4_information .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_information .card .card-body {
    font-size: 15px;
    padding: 0;
}

.template-4_information .card .card-body .information-view {
    position: relative;
    padding: 0 1.25rem 1.25rem;
    overflow: hidden;
}

.template-4_information .card .card-body .information-list .badge {
    color: #fff !important;
    font-size: .8em;
    padding: 6px 12px;
    margin-bottom: 0;
}

.template-4_information .card .card-body .information-list .row:not(:last-child) {
    border-bottom: 1px dashed var(--opacity-color-main);
}

.template-4_information .card .card-body .information-list .row:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.template-4_information .card .card-body .information-form {
    position: relative;
    padding: 0 1.25rem 1.25rem;
    overflow: hidden;
}

.template-4_information .card .card-body .information-form .form-control {
    border-radius: 5px;
    height: 48px;
    border: 1px solid rgba(55, 55, 89, 0.1);
    padding: 0 15px;
    font-weight: 500;
    font-size: 1.05em;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    background: var(--bg-main);
}

.template-4_information .card .card-body .information-form .form-control::placeholder {
    color: var(--text-dark);
}


.template-4_security .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_security .card .card-body {
    padding-top: 0;
}

.template-4_footer {
    background: var(--color-main);
}

.template-4_footer .top-area {
    padding: 30px 0;
}

.template-4_footer .top-area .footer-heading {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 1.3em;
    color: var(--bg-white);
    font-weight: 600;
    line-height: 1.3;
}

.template-4_footer .top-area .footer-desc {
    color: var(--bg-light);
}

.template-4_footer .top-area .footer-title {
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    padding-top: 5px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    color: var(--bg-white);
}


.template-4_footer .top-area .footer-title:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--bg-white);
    left: 0;
    bottom: 0;
    z-index: 1;
}

.template-4_footer .top-area .footer-title span {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.template-4_footer .top-area .footer-title span:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 3px;
    background-color: var(--color-main);
    transform: skew(-45deg);
    right: -6px;
    bottom: -12px;
    z-index: 2;
}

.template-4_footer .top-area .footer-social ul {
    display: flex;
    align-items: center;
}

.template-4_footer .top-area .footer-social ul li:not(:last-child) {
    margin-right: 10px;
}

.template-4_footer .top-area .footer-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: var(--bg-white);
    background: var(--text-dark);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    border-radius: 4px;
    font-size: 0.95em;
}

.template-4_footer .top-area .footer-social ul li a:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
    border-radius: 4px;
}


.template-4_footer .top-area .footer-social ul li:hover a.facebook {
    background-color: #1c71b1;
    color: #fff;
}

.template-4_footer .top-area .footer-social ul li:hover a.twitter {
    background-color: #4e9ed7;
    color: #fff;
}

.template-4_footer .top-area .footer-social ul li:hover a.youtube {
    background-color: #f04d44;
    color: #fff;
}

.template-4_footer .top-area .footer-social ul li:hover a.telegram {
    background-color: #2A9FD5;
    color: #fff;
}

.template-4_footer .top-area .footer-link ul li {
    margin-top: 10px;
}

.template-4_footer .top-area .footer-link ul li a {
    display: inline-block;
    color: var(--bg-white);
    font-size: 1em;
    transition: .4s all ease;
}

.template-4_footer .top-area .footer-link ul li a i {
    transition: .4s all ease;
    margin-right: 4px;
}

.template-4_footer .top-area .footer-link ul li a i:before {
    transition: .5s all ease .2s;
}

.template-4_footer .top-area .footer-link ul li:hover a {
    padding-left: 10px;
}

.template-4_footer .top-area .footer-link ul li:hover a i:before {
    content: "\f178";
}

.template-4_footer .top-area .footer-image ul li {
    margin-top: 10px;
}

.template-4_footer .top-area .footer-image ul li + li {
    margin-top: 20px;
}

.template-4_footer .top-area .footer-image ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-border);
    font-size: 1.05em;
    transition: .3s all ease;
}

.template-4_footer .top-area .footer-image ul li a img {
    max-width: 100%;
    display: block;
    vertical-align: middle;
    margin-right: 10px;
    transition: .3s all ease;
    filter: grayscale(1);
}

.template-4_footer .top-area .footer-image ul li a:hover {
    color: var(--bg-white);
}

.template-4_footer .top-area .footer-image ul li a:hover img {
    filter: grayscale(0);
}

.template-4_footer .bottom-area {
    background-color: var(--opacity-color-main);
    padding: 15px 0;
    color: var(--bg-white);
}

.template-4_footer .bottom-area .bottom-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.template-4_footer .bottom-area .bottom-list ul li:not(:last-child) {
    margin-right: 15px;
}

.template-4_footer .bottom-area .bottom-list ul li a {
    color: var(--color-border);
    transition: .3s all ease;
}

.template-4_footer .bottom-area .bottom-list ul li a.active,
.template-4_footer .bottom-area .bottom-list ul li:hover a {
    color: var(--bg-white);
    text-decoration: underline;
}

.template-4_modal .modal .modal-header {
    background: var(--color-main);
    color: #fff;
    padding: 12px 1rem;
}

.template-4_modal .modal .modal-header > a {
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.8;
}

.template-4_modal .modal .modal-header .modal-title {
    font-size: 1.4em;
    font-weight: 600;
}

.form-floating {
    position: relative;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.form-floating > .form-control::-moz-placeholder {
    color: transparent;
}

.form-floating > .form-control::placeholder {
    color: transparent;
}

.form-floating > .form-control:not(textarea), .form-floating > .form-select {
    height: calc(3.5rem + 2px);
    padding: 1rem .75rem;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.form-floating > .form-control:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.template-4_toast .toast {
    min-width: 200px;
}

.template-4_toast .toast .toast-icon {
    font-size: 1.3em;
    position: relative;
    top: 1px;
}

.template-4_toast .toast .close {
    font-size: 1.2em;
    opacity: 1;
    text-shadow: none;
    color: var(--text-gray-50);
}

.template-4_toast .toast .close:hover {
    color: #fff;
}
