@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    background: var(--bg-main);
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button,
input,
select,
textarea,
.custom-file-label {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus ~ .custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: var(--color-hover) !important;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 > [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.bg-gradient {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
}

.color-red {
    color: #e31f25 !important;
}

.color-green {
    color: #42c677
}

.mt-20px {
    margin-top: 20px;
}

.link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    content: "";
}

.template-4_btn {
    padding: 8px 40px;
    border-radius: 50px;
    display: inline-block;
    min-width: 140px;
    font-size: 1.2em;
    font-weight: 700;
}

.template-4_header {
    background-color: var(--color-main);
}

.template-4_header .logo-area > a > img {
    max-height: 50px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.template-4_header .navigation-area > ul {
    display: flex;
    justify-content: center;
}

.template-4_header .navigation-area > ul > li {
    position: relative;
}

.template-4_header .navigation-area > ul > li:before {
    position: absolute;
    display: block;
    content: "";
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    width: 50%;
    transition: .4s all ease;
    opacity: 0;
    visibility: hidden;
}

.template-4_header .navigation-area > ul > li > a {
    text-transform: capitalize;
    font-size: 1.05em;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 25px 10px;
}

.template-4_header .navigation-area > ul > li > a > i {
    margin-left: 4px;
    transition: .4s all ease;
}

.template-4_header .navigation-area > ul > li:hover:before {
    opacity: 1;
    visibility: visible;
}

.template-4_header .navigation-area > ul > li > ul {
    position: absolute;
    left: 0;
    top: calc(100% + 35px);
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    transition: .3s opacity ease-in-out, .3s top ease-in-out;
    -webkit-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    z-index: 10;
}

.template-4_header .navigation-area > ul > li > ul > li > a {
    text-transform: capitalize;
    font-size: 1.05em;
    color: var(--text-gray);
    display: inline-block;
    padding: 8px 15px;
    transition: .4s all ease;
    position: relative;
}

.template-4_header .navigation-area > ul > li > ul > li > a:before {
    position: absolute;
    display: block;
    top: 8px;
    left: 5px;
    font-size: 1em;
    width: 0;
    overflow: hidden;
    color: var(--color-main);
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    transition: .4s all ease;
    content: "\f178";
}

.template-4_header .navigation-area > ul > li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.template-4_header .navigation-area > ul > li > ul > li:hover > a {
    color: var(--color-main);
    padding-left: 25px;
}

.template-4_header .navigation-area > ul > li > ul > li:hover > a:before {
    width: 14px;
}

.template-4_header .action-area > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.template-4_header .action-area > ul > li {
    position: relative;
}

.template-4_header .action-area > ul > li.language {
    padding: 23px 0;
}

.template-4_header .action-area > ul > li.language > a {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.template-4_header .action-area > ul > li.language > a > img {
    width: 100%;
    border-radius: 50%;
}

.template-4_header .action-area > ul > li.language > ul {
    position: absolute;
    left: 0;
    top: calc(100% + 35px);
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    transition: .3s opacity ease-in-out, .3s top ease-in-out;
    -webkit-transition: .3s opacity ease-in-out, .3s top ease-in-out;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    z-index: 10;
}

.template-4_header .action-area > ul > li.language > ul > li > a > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 15px;
    transition: .3s all ease;
    color: var(--text-gray);
}

.template-4_header .action-area > ul > li.language > ul > li > a > span > img {
    width: 20px;
    margin-right: 4px;
}

.template-4_header .action-area > ul > li.language > ul > li:hover > a > span {
    color: var(--color-main);
}

.template-4_header .action-area > ul > li.language:hover > ul {
    top: calc(100% + 5px);
    opacity: 1;
    visibility: visible;
}

.template-4_header .action-area > ul > li.login {
    margin-left: 15px;
}

.template-4_header .action-area > ul > li.login > a {
    background-color: var(--opacity-color-main);
    color: #fff;
    font-size: 1.05em;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: .45rem;
    display: inline-block;
}

.template-4_header .action-area > ul > li.login > a:hover {
    background-color: var(--color-hover);
}


.template-4_main {
    padding: 30px 0;
}

.template-4_aboutus .card .card-body {
    padding: .75rem;
}

.template-4_aboutus .card .card-body .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
}

.template-4_aboutus .card .card-body .card-text {
    margin-bottom: 4px;
    color: var(--text-gray);
    font-size: 1.05em;
}

.template-4_aboutus .card .card-body .card-text:last-of-type {
    margin-bottom: 0;
}

.template-4_aboutus .card .card-img {
    max-width: 200px;
}

.template-4_exchange .card .card-header,
.template-4_exchange .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: .75rem;
}

.template-4_exchange .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0 !important;
}

.template-4_exchange .card .card-header p {
    width: 100%;
    color: var(--text-gray-50) !important;
}

.template-4_exchange .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_exchange .card .card-header .nav-tabs {
    border: 0;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link {
    padding: 7px 30px;
    border-radius: .35rem;
    color: var(--text-dark);
    font-weight: 500;
    border: 1px solid transparent;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, .125);
    position: relative;
    transition: .3s all ease-in-out;
    background-color: #fff;
    font-size: 1.1em;
    letter-spacing: .5px;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item:not(:last-of-type) {
    margin-right: 15px;
}

.template-4_exchange .card .card-header .nav-tabs .nav-item .nav-link.active {
    box-shadow: none;
    background-color: var(--opacity-color-main);
    border-color: var(--color-hover);
}

.template-4_exchange .card .card-body .form-group {
    margin-bottom: 30px;
}

.template-4_exchange .card .card-body .form-group > label {
    font-size: 1.10em;
    font-weight: 500;
    color: var(--text-dark);
    margin-bottom: 15px;
    background: transparent;
    border-color: rgba(55, 55, 89, 0.1);
}

.template-4_exchange .card .card-body .form-group .input-group .input-group-prepend .input-group-text {
    background-color: #fff;
    margin-bottom: 0 !important;
    font-size: 1.2em;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_exchange .card .card-body .form-group .input-group .form-control {
    border-radius: 5px;
    height: 48px;
    border: 1px solid rgba(55, 55, 89, 0.1);
    padding: 0 15px;
    font-weight: 500;
    font-size: 1.05em;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    background: var(--bg-main);
}

.template-4_exchange .card .card-body .form-group .input-group .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.template-4_exchange .card .card-body .form-group .input-group .form-control:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.template-4_sidebar .sidebar-item + .sidebar-item {
    margin-top: 20px;
}

.template-4_sidebar .sidebar-item .card .card-header,
.template-4_sidebar .sidebar-item .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
}

.template-4_sidebar .sidebar-item .card .card-header {
    padding-bottom: 0 !important;
}

.template-4_sidebar .sidebar-item .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.20em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_sidebar .sidebar-item .card .card-body {
    padding-top: 10px;
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li > a {
    background: var(--bg-main);
    border-radius: 5px;
    padding: 10px;
    transition: .4s all ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li > a > .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1em;
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li > a > .text > img {
    width: 20px;
    flex-shrink: 0;
    margin-right: 8px;
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li > a > .price {
    font-weight: 900;
    font-size: 1em;
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li:hover > a {
    background-color: var(--opacity-color-main);
}

.template-4_sidebar .sidebar-item .card .card-body > ul > li + li {
    margin-top: 10px;
}

.template-4_table .card .card-header,
.template-4_table .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.template-4_table .card .card-header {
    padding-bottom: 0 !important;
}

.template-4_table .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar {
    height: 6px;
    cursor: pointer;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-track {
    background: #fff;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-thumb {
    background: #acacac;
}

.template-4_table .card .card-body .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.template-4_table .card .card-body table {
    border-spacing: 0 .5rem;
    border-collapse: separate;
    white-space: nowrap;
    font-size: 1em;
}

.template-4_table .card .card-body table thead tr {
    overflow: hidden;
    background-color: var(--bg-main);
}

.template-4_table .card .card-body table thead tr th {
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1.05em;
    border: 0;
}

.template-4_table .card .card-body table thead tr th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_table .card .card-body table thead tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-4_table .card .card-body table tbody tr {
    overflow: hidden;
    background-color: var(--bg-main);
}

.template-4_table .card .card-body table tbody tr td {
    border: 0;
}

.template-4_table .card .card-body table tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.template-4_table .card .card-body table tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.template-4_table .card .card-body table .badge {
    padding: .4rem .6rem .2rem;
    line-height: 1;
    font-size: 85%;
}

.template-4_table .card .card-body table tbody tr td {
    font-weight: 700;
    color: var(--text-dark);
}

.template-4_notification .card .card-header,
.template-4_notification .card .card-body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.template-4_notification .card .card-header {
    padding-bottom: 0;
}

.template-4_notification .card .card-header .card-title {
    font-weight: 900;
    font-size: 1.2em;
    color: var(--text-dark);
    margin-bottom: 0;
}

.template-4_notification .card .card-body ul li {
    border-radius: 5px;
    background-color: var(--bg-main);
    padding: 5px;
    position: relative;
}

.template-4_notification .card .card-body ul li + li {
    margin-top: 10px;
}


.template-4_notification .card .card-body ul li .title {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.template-4_notification .card .card-body ul li .desc {
    font-size: .9em;
    color: var(--text-gray);
}

.template-4_notification .card .card-body ul li.notification-success i,
.template-4_notification .card .card-body ul li.notification-success .title {
    color: var(--success);
}

.template-4_notification .card .card-body ul li.notification-danger i,
.template-4_notification .card .card-body ul li.notification-danger .title {
    color: var(--danger);
}